<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login</title>
</head>
<body class="min-h-screen bg-zinc-900 flex items-center justify-center text-white px-4">
  <div class="w-full max-w-md bg-zinc-800 rounded-2xl shadow-2xl p-8">
    
    <% if (errMsg) { %>
      <div class="bg-red-500/10 text-red-400 border border-red-500 px-4 py-2 rounded mb-5 text-sm text-center">
        <%= errMsg %>
      </div>
    <% } %>
    <% if (successMsg) { %>
      <div class="bg-green-500/10 text-green-400 border border-green-500 px-4 py-2 rounded mb-4 text-sm text-center">
        <%= successMsg %>
      </div>
    <% } %>

    <h1 class="text-3xl font-bold mb-6 text-center">Login</h1>

    <form action="/user/login" method="post" class="flex flex-col gap-4">
      <input 
        type="text" 
        name="username"
        placeholder="Enter username..." 
        class="px-4 py-3 bg-zinc-700 border border-zinc-600 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition" 
      />
      <input 
        type="password" 
        name="password"
        placeholder="Enter password..." 
        class="px-4 py-3 bg-zinc-700 border border-zinc-600 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition" 
      />
      <input 
        type="submit" 
        value="Login" 
        class="bg-blue-600 hover:bg-blue-700 transition  text-white font-semibold py-3 rounded-lg cursor-pointer"
      />
    </form>
  </div>
</body>
</html>
